<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>At the Table...</title>
    <link rel="icon" href="{{url_for('static', filename='img/blue_cardback.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <script src="{{url_for('static', filename='js/card.js')}}"></script>
    <script src="{{url_for('static', filename='js/deck.js')}}"></script>
    <script src="{{url_for('static', filename='js/player.js')}}"></script>
    <script src="{{url_for('static', filename='js/game.js')}}"></script>
</head>
<body style="background-color: #b8f7d2 ;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
    </script>
    <!-- modal -->
    <!-- Still need to add functionality! -->
    <!-- Get name from form and make it name for the player and Player class -->
    <div class="modal" id="myModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Whats your name!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <div class="modal-body">
                <form action="" method="">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" class="form-control">
                    <div class="form-text">Must be unique!</div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Save changes</button>
            </div>
            </div>
        </div>
    </div>
    <!-- navbar -->
    <div id="nav-container">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand text-light" href="#">
            <img src="{{url_for('static', filename='img/blue_cardback.png')}}" width="30" height="40" class="ms-2" alt="">
            Blackjack Royale
            </a>
        </nav>
    </div>
    <div class="row mt-5">
        <!-- player container -->
        <div class="col">
            <div class="container d-flex flex-column align-items-center p-2" id="player-container">
                <div class="d-flex flex-column align-items-center" id="player-information">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
                    </svg>
                    <p>Player
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </p>
                    <p id="player-total">0</p>
                </div>
                <!-- where card images go -->
                <div class="container d-flex justify-content-center"  id="player-hand"></div>
                
            </div>
        </div>
        <div class="col-1"></div>
        <!-- dealer container -->
        <!-- dealer container reaching past container and adding a horizontal scroll -->
        <div class="col" id="dealer-container">
            <div class="container d-flex flex-column align-items-center p-2" id="dealer-container">
                <div class="d-flex flex-column align-items-center" id="dealer-information">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="white" class="bi bi-person-square rounded" style="background-color: black;" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
                    </svg>
                    <p>Dealer</p>
                    <p id="dealer-total">0</p>
                    <!-- where dealer card images go -->
                    <div class="container d-flex justify-content-center"  id="dealer-hand"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- player interface -->
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col p-3 border border-dark rounded d-flex flex-column" id="player-interface">
            <p id="ui-text" class="text-center"></p>
            <div class="d-flex justify-content-around">
                <!-- ui buttons -->
                <button class="btn btn-success" id="start-btn" onclick="game.gameLoop()">Start</button>
                <button class="btn btn-primary" id="hit" style="display: none;">Hit Me</button>
                <button class="btn btn-danger" id="stay" style="display: none;">Stay</button>
                <button class="btn btn-warning" id="play-again" style="display: none;">Play Again?</button>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <!-- footer -->
    <div class="row fixed-bottom">
        <div class="col d-flex justify-content-between">
            <div class="p-3 pe-5 ms-5 border border-dark rounded" id="coin-ui">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-stop-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.5 5A1.5 1.5 0 0 0 5 6.5v3A1.5 1.5 0 0 0 6.5 11h3A1.5 1.5 0 0 0 11 9.5v-3A1.5 1.5 0 0 0 9.5 5h-3z"/>
                </svg>
                <p id="coin-counter">0</p>
            </div>
            <div class="p-3 pe-5 ms-5 border border-dark rounded" id="pot-ui">
                <p>Pot</p>
                <p id="pot-counter">0</p>
            </div>
            <div class="me-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </div>
        </div>
    </div>
</body>
</html>